.terms {
  width: 100%;
  padding: 50px 50px;
  background-color: $light-grey;
  @include breakpoint("phone-tablet"){
    padding: 20px 20px;
  };
  .terms-main__logo {
    width: 200px;
    margin-left: 50px;
    @include breakpoint("phone-tablet"){
      width: 150px;
      margin-left: 0;
      margin-top: 10px;
    };
  }
  .terms-info {
    max-width: $max-page-width;
    margin: auto;
    @include breakpoint("phone-tablet"){
      padding: 0 20px;
    };
    .paragraph-title {
      color: #383838;
      font-weight: 600;
      width: 100%;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin: 40px 0;
      @include breakpoint("phone-tablet"){
        font-size: 25px;
      };
    }
    .terms-content {
      color: #707070;
    }
    .terms-content__alpha {
      list-style-type: lower-alpha;
      margin-left: 35px;
      color: #707070;
    }
    .terms-content__roman {
      list-style-type: lower-roman;
      margin-left: 45px;
      color: #707070;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .terms-subtitle {
      color: #383838;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
