.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $light-grey;
  .column {
    display: flex;
    align-items: center;
    .big-avatar {
      min-width: 55px;
      width: 55px;
      border-radius: 50%;
    }
    .event {
      margin: 0 12px;
      .event-status {
        color: red;
        line-height: 20px;
        font-weight: 600;
        text-transform: capitalize;
      }
      .event-name {
        color: black;
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
      }
      .sub-info {
        font-size: 12px;
        line-height: 16px;
        color: $dark-grey;
      }
    }
    .button {
      @include pinkButton();
    }
  }
  &:last-child{
    border: 0;
  }
}
