.navigation {
  width: 100%;
  @include boxBorder(no);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  @include breakpoint("phone") {
    margin-bottom: 0;
  }
  .inner {
    max-width: $max-page-width + 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 40px;
    @include breakpoint("phone") {
      padding: 16px 16px;
    };
    .logo-icon{
      width: 100%;
      display: flex;
      .column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        &:first-child {
          justify-content: flex-start;
        }
        .logo {
          max-width: 150px;
        }
        .nav-icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin-left: auto;
        }
      }
    }
    .search-box {
      width: 100%;
      padding-top: 15px;
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-input {
          width: 100%;
          border: none;
          outline: none;
          box-sizing: border-box;
          border-bottom: solid 1px $middle-grey;
          font-size: $normal-font-size;
          font-weight: 300;
          &::placeholder {
            color: $middle-grey;
          }
          &:focus {
            color: $main-pink;
            border-bottom: solid 1px $main-pink;
          }
          &:focus::-webkit-input-placeholder {
            color: transparent;
          }
        }
      }
    }
  }
}
